<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>image</key>
			<string>friend</string>
			<key>title</key>
			<string>朋友圈</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>sweep</string>
			<key>title</key>
			<string>扫一扫</string>
		</dict>
		<dict>
			<key>image</key>
			<string>rock</string>
			<key>title</key>
			<string>摇一摇</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>watch</string>
			<key>title</key>
			<string>看一看</string>
		</dict>
		<dict>
			<key>image</key>
			<string>search</string>
			<key>title</key>
			<string>搜一搜</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>near_person</string>
			<key>title</key>
			<string>附近的人</string>
		</dict>
		<dict>
			<key>image</key>
			<string>current_bottle</string>
			<key>title</key>
			<string>漂流瓶</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>shop</string>
			<key>title</key>
			<string>购物</string>
		</dict>
		<dict>
			<key>image</key>
			<string>game</string>
			<key>title</key>
			<string>游戏</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>mini_app</string>
			<key>title</key>
			<string>小程序</string>
		</dict>
	</array>
</array>
</plist>
